[functions]
node_bundler = "esbuild"

[[redirects]]
from = "/api/tina/*"
to = "/.netlify/functions/tina"
status = 200
force = true

[template.environment]
GITHUB_REPO = "Repository name (same as above)"
GITHUB_OWNER = "GitHub username"
GITHUB_BRANCH = "Main branch"
GITHUB_PERSONAL_ACCESS_TOKEN = "GitHub access token with repo access"
MONGODB_URI = "MongoDB connection string"
NEXTAUTH_SECRET = "NextAuth.js secret (generate with `npx auth`)"
