---
import Card from '@/components/ui/Card.astro';
import SectionTitle from '@/components/ui/SectionTitle.astro';
import Joystick from '@/svg/joystick.svg?raw';
import { t } from 'i18next';
import databaseClient from 'tina/__generated__/databaseClient';
import type { InterestsQuery } from 'tina/__generated__/types';

const interestEdges = (await databaseClient.queries.interestsConnection({}))
  .data.interestsConnection.edges;
const interests: NonNullable<InterestsQuery['interests']>[] = [];

interestEdges?.forEach((edge) => {
  if (edge?.node) {
    interests.push(edge.node);
  }
});
---

{
  interests.length > 0 && (
    <Card>
      <Fragment slot="title">
        <SectionTitle title={t('interests')} svgHtml={Joystick} />
      </Fragment>
      <Fragment slot="content">
        <ul>
          {interests.map((interest) => (
            <li>{interest.name}</li>
          ))}
        </ul>
      </Fragment>
    </Card>
  )
}
