---
import Card from '@/components/ui/Card.astro';
import SectionTitle from '@/components/ui/SectionTitle.astro';
import Joystick from '@/svg/joystick.svg?raw';
import { t } from 'i18next';
import databaseClient from 'tina/__generated__/databaseClient';

const me = (await databaseClient.queries.meConnection()).data.meConnection
  .edges?.[0]?.node;
const interests = me?.interests || [];
---

{
  interests.length > 0 && (
    <Card>
      <Fragment slot="title">
        <SectionTitle title={t('interests')} svgHtml={Joystick} />
      </Fragment>
      <Fragment slot="content">
        <ul>
          {interests.map((interest) => (
            <li>{interest}</li>
          ))}
        </ul>
      </Fragment>
    </Card>
  )
}
